@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.4.1/font/bootstrap-icons.css");
body {
  background:linear-gradient(90deg, #74EBD5 0%, #9FACE6 100%);
  
}
#todo-list{
  background-color:rgba(255,255,255, .5);
  min-height: 35vh;
  border-radius: 25px;
}
.checked-item {
  text-decoration: line-through;
}